@import './bootstrap/bootstrap';
@import './fontawesome/fontawesome.scss';
@import './fontawesome/solid.scss';
@import './fontawesome/brands.scss';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

@font-face {
	font-family: 'Volter';
	font-style: 'normal';
	font-weight: 400;
    src: url('../assets/webfonts/Volter.ttf') format('truetype');
}

* {
    -webkit-overflow-scrolling: touch;
    @include no-select();
}

html,
body {
    font-family: 'Ubuntu', sans-serif;
    //font-size: 14px;
    //color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    image-rendering: pixelated;
    pointer-events: none;
}

#nitro {
    width: 100%;
    height: 100%;
    position: absolute;
}

.btn {
    pointer-events: all;
}

input {
    pointer-events: all;
}

@import './mixins';
@import './utils';
@import './components';
@import './icons';
@import './window';
@import './widgets';