<div #activeView class="nitro-widget-friendrequest-dialog align-items-center context-menu">
    <div class="card align-items-center">
        <div class="d-flex justify-content-between align-items-center px-2 pt-2 w-100">
            <span class="m-0 text-wrap w-100" style="max-width: 95%;font-size:14px;">{{ ('widget.friendrequest.from') | translate:'username':userName }}</span>
            <button type="button" class="close" (click)="hide()"><i class="fas fa-times" style="font-size:14px;"></i></button>
        </div>
        <div class="d-flex justify-content-between align-items-center p-2 w-100">
            <button type="button" class="btn btn-sm btn-secondary" (click)="declineFriendRequest()">{{ ('widget.friendrequest.decline') | translate }}</button>
            <button type="button" class="btn btn-sm btn-success" (click)="acceptFriendRequest()">{{ ('widget.friendrequest.accept') | translate }}</button>
        </div>
        <div class="card-pointer"></div>
    </div>
</div>
