<div class="nitro-toolbar-component">
    <div class="card rounded-0">
        <div #navigationList class="d-flex card-body justify-content-between py-0 w-100">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" *ngIf="isInRoom" (click)="visitDesktop()"><i class="icon icon-nitro-dark"></i></li>
                <li class="list-group-item" *ngIf="!isInRoom"><i class="icon icon-house"></i></li>
                <li class="list-group-item" (click)="toggleNavigator()"><i class="icon icon-rooms"></i></li>
                <li class="list-group-item avatar-image">
                    <nitro-avatar-image [figure]="figure" [headOnly]="true" [direction]="2"></nitro-avatar-image>
                </li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" (click)="toggleCatalog()"><i class="icon icon-catalog"></i></li>
                <li class="list-group-item" (click)="toggleInventory()"><i class="icon icon-inventory"></i> <div class="badge badge-secondary" *ngIf="unseenCount">{{ unseenCount }}</div></li>
            </ul>
        </div>
    </div>
</div>