<div class="d-flex my-1 p-1 align-items-center search-result-item" (click)="visit()">
    <div class="d-flex align-items-center flex-grow-1">
        <div class="badge badge-primary mr-3"><i class="fas fa-user mr-1"></i>{{ room.userCount }}</div>
        {{ room.roomName }}
    </div>
    <ng-template #roomInfoTooltip>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    pic
                </div>
                <div class="col-10">
                    <span>{{ room.roomName }}</span>
                    <span>{{ room.description }}</span>
                </div>
            </div>
            <div class="row">
                <i class="fas fa-user mr-1"></i>{{ room.ownerName }}
            </div>
        </div>
    </ng-template>
    <div class="d-flex align-items-center">
        <i class="fas fa-users mr-2" *ngIf="isGroup"></i>
        <i class="fas fa-lock mr-2" *ngIf="isDoorbell"></i>
        <i class="fas fa-key mr-2" *ngIf="isPassword"></i>
        <button type="button" class="btn btn-sm btn-primary" [ngbTooltip]="roomInfoTooltip" tooltipClass="search-result-item-tooltip" placement="right" container="body"><i class="fas fa-info-circle"></i></button>
    </div>
</div>