<button type="button" class="btn btn-secondary btn-sm justify-content-between detail-info" (click)="visit()">
    <div class="d-flex justify-content-center flex-grow-1 overflow-hidden">
        <div class="d-flex justify-content-center align-items-center badge badge-secondary text-center" [ngClass]="entryBg"><i class="fas fa-user mr-1"></i>{{ room.userCount }}</div>
        <div class="d-flex flex-column justify-content-center align-items-start flex-grow-1 px-2 overflow-hidden">
            <span class="d-block text-truncate" style="max-width:95%;">{{ room.roomName }}</span>
        </div>
    </div>
    <div class="d-flex flex-row-reverse align-items-center">
        <i class="fas fa-info-circle" [ngbTooltip]="roomInfoTooltip" tooltipClass="search-result-item-tooltip" placement="right" container="body"></i>
        <i class="fas fa-users mr-2" *ngIf="isGroup"></i>
        <i class="fas fa-lock mr-2" *ngIf="isDoorbell"></i>
        <i class="fas fa-key mr-2" *ngIf="isPassword"></i>
    </div>
    <ng-template #roomInfoTooltip>
        <div class="container">
            <span class="d-block">{{ room.roomName }}</span>
            <span class="d-block small text-muted">"{{ room.description }}"</span>
            <span class="d-block" *ngIf="room.ownerName != null"><i class="fas fa-user mr-1"></i>{{ room.ownerName }}</span>
        </div>
    </ng-template>
</button>
