$customstackheight-width: 350px;

.nitro-room-furniture-customstackheight-component {
    position: absolute;
    width: $customstackheight-width;
    max-width: $customstackheight-width;
    left: calc(50vw - #{($customstackheight-width / 2)});
    top: calc(50vh / 2);

    @media (pointer:none), (pointer:coarse) {
        position: fixed;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        top: 100px;
        left: 0;

        .card-body {
            overflow-y: auto;
        }
    }

    .custom-slider {
        width: 41px;
        height: 280px;

        .ngx-slider {

            .ngx-slider-full-bar {
                background-color: transparent;
                background-image: url('../../../../../../assets/images/stackhelper/slider-background.png');
                width: 41px;
                height: 280px;
            }

            .ngx-slider-bar {
                display: none;
            }

            // .ngx-slider-selection {
            //     background: orange;
            // }

            .ngx-slider-pointer {
                width: 30px;
                height: 22px;
                top: auto; /* to remove the default positioning */
                bottom: 0;
                background-color: transparent;
                background-image: url('../../../../../../assets/images/stackhelper/slider-pointer.png');
                border-radius: 0;
                outline: none;

                &:after {
                    display: none;
                }
            }

            // .ngx-slider-bubble {
            //     bottom: 14px;
            // }

            // .ngx-slider-limit {
            //     font-weight: bold;
            //     color: orange;
            // }

            // .ngx-slider-tick {
            //     width: 1px;
            //     height: 10px;
            //     margin-left: 4px;
            //     border-radius: 0;
            //     background: #ffe4d1;
            //     top: -1px;

            //     &.ngx-slider-selected {
            //         background: orange;
            //     }
            // }
        }
    }
}