.nitro-component-toolbar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;

    .component-header {
        justify-content: center;
        cursor: pointer;
    }

    .component-body {

        .toolbar-items {
            display: flex;
            flex-direction: column;
            align-items: center;

            .toolbar-item {
                cursor: pointer;

                .icon {
                    display: block;
                }

                &:active {
                    -webkit-transform: translate(0, 1px);
                    transform: translate(0, 1px);
                }

                &:not(:last-child)
                {
                    padding-bottom: 15px;
                }
            }
        }
    }

    .component-footer {
        padding-top: 0;
        
        .nitro-avatar {
            width: 50px;
            height: 50px;
        }
    }
}