.nitro-inventory-furni-grid-item-component {
    position: relative;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    background-image: url('../../../../../../assets/images/icons/loading-icon.png');
    background-position: center;
    background-repeat: no-repeat;

    &.unseen {
        background-color: rgba($green, 1);
    }

    .badge {
        position: absolute;
        padding: 2px;
        font-size: 11px;
        top: 3px;
        left: 3px;
    }
}