<div *ngIf="visible" [bringToTop] [draggable] dragHandle=".card-header" class="card nitro-navigator-component">
    <div class="card-header">
        {{ (isLoading ? 'navigator.title.is.busy' : 'navigator.title') | translate }}
        <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
    </div>
    <div class="card-body">
        <div class="btn-group w-100 mb-3">
            <button *ngFor="let context of topLevelContexts" type="button" class="btn btn-primary" [ngClass]="{ 'active': (topLevelContext === context) }" (click)="setCurrentContext(context)">{{ ('navigator.toplevelview.' + context.code) | translate }}</button>
            <button type="button" class="btn btn-primary" (click)="openRoomCreator()"><i class="fas fa-plus"></i></button>
        </div>
        <div nitro-navigator-search-component></div>
        <perfect-scrollbar class="results-container position-relative w-100 pr-1" style="min-height: 350px;max-height: 350px;height:350px;">
            <div class="mb-3" *ngFor="let result of lastSearchResults" [result]="result" nitro-navigator-search-result-component></div>
        </perfect-scrollbar>
        <div nitro-navigator-slider-component *ngIf="sliderVisible"></div>
    </div>
</div>