<div class="d-flex justify-content-between align-items-center pt-2">
    <h5 class="m-0" (click)="toggleCollapsed()">
        <i class="fas" [ngClass]="{ 'fa-minus': isCollapsed, 'fa-plus': !isCollapsed }"></i> {{ resultCode | translate }}
    </h5>
    <h5 *ngIf="(displayMode !== 2)" class="m-0" (click)="toggleListMode()">
        <i class="fas" [ngClass]="{ 'fa-bars': (displayMode === 1), 'fa-th': (displayMode === 0) }"></i>
    </h5>
</div>
<div *ngIf="isCollapsed && (result.rooms.length > 0)" class="d-flex flex-column pt-2 grid-container">
    <div class="grid-items" [ngClass]="{ 'grid-2': (displayMode >= 1), 'grid-1': (displayMode === 0) }">
        <div nitro-navigator-search-result-item-component *ngFor="let room of result.rooms" class="d-flex flex-column item-detail justify-content-center align-items-center" [room]="room" [displayMode]="displayMode" [ngClass]="{ 'tall-detail': (displayMode >= 1) }"></div>
    </div>
</div>
