$room-tools-handle-width: 20px;

.nitro-room-tools {
    position: absolute;
    left: 10px;
    bottom: 87px;
    min-width: 315px;
}

.nitro-room-tools-room-info-component {
    position: absolute;
    max-width: 400px;
}
