$room-tools-handle-width: 20px;

#nitro-room-tools {
    position: absolute;
    right: 0;
    bottom: 90px;
    min-height: 90px;
    height: auto;

    #nitro-room-tools-handle {
        //position: relative;
        width: $room-tools-handle-width;
        min-height: inherit;
        height: inherit;
        padding: 0 5px;
        //padding-left: 5px;
        //line-height: inherit;
        //background-color: red;
        background: rgba(29, 30, 33, 0.9);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    #nitro-room-tools-menu {
        //position: relative;
        //right: $room-tools-handle-width;
        //display: none;
        position: absolute;
        right: 0;
        color: white;

        #nitro-room-tools-menu-container {
            background-color: rgba(29, 30, 33, 0.9);
            width: 0;
            transition: width 2s ease-out;

            &.open {
                width: 100px;
            }
        }

        #nitro-room-tools-room-info {
            border-radius: 5px;
            background-color: rgba(29, 30, 33, 0.9);
            padding: 8px;
            margin-right: $room-tools-handle-width;
        }
    }

    //.container {
    //    position: absolute;
    //    min-width: 200px;
    //    height: inherit;
    //    background: rgba(29, 30, 33, 0.9);
    //    border-right: 1px solid rgba(0, 0, 0, .3);
    //    border-top-right-radius: 5px;
    //    border-bottom-right-radius: 5px;
    //    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    //    padding: 5px 10px;
    //
    //    margin-right: -200px;
    //    transition: margin-right .2s ease-out;
    //
    //    .room-owner {
    //        font-size: 13px;
    //    }
    //}
    //
    //&.open {
    //    .room-tools-handle {
    //        box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
    //        border-top-right-radius: 0px;
    //        border-bottom-right-radius: 0px;
    //    }
    //
    //    .container {
    //        margin-left: 20px;
    //    }
    //}
}

.nitro-room-tools-room-info-component {
    position: absolute;
    max-width: 400px;
}
