<div class="w-100 h-100 px-1 nitro-catalog-layout-marketplace-own-items-component">
    <div class="badge badge-secondary badge-sm text-wrap mb-2">{{ topText }}</div>
    <button *ngIf="redeemButtonActive" type="button" class="btn btn-block btn-success btn-sm mb-2" (click)="redeemCredits()">{{ 'catalog.marketplace.offer.redeem' | translate }}</button>
    {{ statusText }}
    <div *ngIf="hasOwnOffersOnMarketplace">
        <perfect-scrollbar style="height: 381px; min-height: 381px; max-height: 381px">
            <div class="rounded bg-secondary mb-2 p-2" *ngFor="let offer of ownOffers">
                <div class="d-flex flex-row mb-1">
                    <div class="position-relative align-self-center align-items-end mr-2 flex-shrink-0" style="width:36px; height:36px;" [ngClass]="{'unique': offer.isUniqueLimitedItem}">
                        <div class="position-absolute w-100 h-100" style="background-repeat: no-repeat;background-position: center;" [ngStyle]="{ 'background-image': 'url(' + imageUrlOffer(offer) + ')' }"></div>
                        <div *ngIf="offer.isUniqueLimitedItem" class="position-absolute unique-counter" style="bottom:0px;" [innerHtml]="offer.stuffData.uniqueSeries | uniqueNumber"></div>
                    </div>
                    <div class="align-self-center">
                        <div>{{ getMarketplaceOfferTitle(offer) }}</div>
                        <div class="small">{{ getMarketplacePrice(offer) }}</div>
                    </div>
                </div>
                <div class="badge badge-primary badge-sm text-wrap w-100 mb-1">{{ getMarketplaceOfferDescription(offer) }}</div>
                <div class="d-flex flex-row">
                    <div *ngIf="offerIsOnGoing(offer)" class="badge badge-primary badge-sm text-wrap w-100 d-flex">
                        <div class="align-self-center w-100">{{ offerTime(offer) }}</div>
                    </div>
                    <div *ngIf="offerIsExpired(offer)" class="badge badge-danger badge-sm text-wrap w-100 d-flex">
                        <div class="align-self-center w-100">{{ offerExpiredText(offer) }}</div>
                    </div>
                    <button *ngIf="canTakeBack(offer)" (click)="takeBack(offer)" class="btn btn-primary btn-sm ml-2" style="white-space: nowrap;">{{ 'catalog.marketplace.offer.pick' | translate }}</button>
                </div>
                <div *ngIf="offerIsSold(offer)" class="badge badge-success badge-sm text-wrap w-100">{{ offerSoldText(offer) }}</div>                
            </div>
        </perfect-scrollbar>
    </div>
</div>
