<div *ngIf="visible" [bringToTop] [draggable] class="nitro-friendlist card">
    <div class="drag-handler d-flex justify-content-between align-items-center px-3 pt-3">
        <h6 class="m-0">{{ ('messenger.title') | translate }}</h6>
        <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
    </div>
    <div class="row p-3">
        <div class="col-4 d-flex flex-column">
            <button class="btn btn-secondary w-100 mb-1" (click)="displayFriends()" [ngClass]="{ 'active': friendsVisible }">
                {{ ('friendlist.friends') | translate }}<span *ngIf="(totalFriendRequests > 0)" class="badge badge-danger ml-1" style="font-size:12px;">{{ totalFriendRequests }}</span>
            </button>
            <h6 class="mt-2 mb-1"><span class="badge text-uppercase">{{ ('toolbar.icon.label.messenger') | translate }}</span></h6>
            <perfect-scrollbar class="position-relative w-100" style="min-height:320px;max-height:320px;height:320px;">
                <div nitro-friendlist-thread-list-component [currentThread]="currentThread" [threadSelector]="selectThread"></div>
            </perfect-scrollbar>
        </div>
        <div class="col d-flex flex-column">
            <div *ngIf="friendsVisible" nitro-friendlist-friends-viewer-component [threadSelector]="selectThread"></div>
            <div *ngIf="currentThread" nitro-friendlist-thread-viewer-component [thread]="currentThread"></div>
        </div>
    </div>
</div>