<div class="row nitro-inventory-bots-component" (mouseup)="onMouseUp()">
    <div class="col-12" *ngIf="!hasBotItems">
        <div class="row pt-2">
            <div class="col-4 d-flex justify-content-center align-items-center">
                <div class="empty-image"></div>
            </div>
            <div class="col-8 pt-3">
                <b>{{ ('inventory.empty.bots.title') | translate }}</b><br />
                {{ ('inventory.empty.bots.desc') | translate }}
            </div>
        </div>
    </div>
    <ng-container *ngIf="hasBotItems">
        <div class="col-7 d-flex flex-column" style="z-index: 1;">
            <perfect-scrollbar class="grid-container w-100" style="min-height: 209px;max-height: 209px;height:209px;">
                <div class="grid-items grid-5">
                    <div *ngFor="let botItem of botItems;trackBy:trackByType" class="d-flex flex-column item-detail justify-content-center align-items-center" (mousedown)="onMouseDown(botItem)" (mouseout)="onMouseOut(botItem)">
                        <button type="button" class="position-relative btn btn-secondary align-items-end detail-info has-image" [ngClass]="{ 'active': (selectedItem === botItem), 'bg-success': botItem.isUnseen }" avatar-image [scale]="4" [figure]="botItem.botData.figure" [direction]="3" [headOnly]="true" [asBackground]="true"></button>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
        <div class="col-5 d-flex flex-column">
            <div class="room-preview" nitro-room-preview-component [roomPreviewer]="roomPreviewer" [height]="140"></div>
            <div class="d-flex flex-column flex-grow-1 justify-content-between" *ngIf="selectedItem"
                style="z-index: 1;">
                <div class="d-flex justify-content-center align-items-center w-100 h-100">{{ selectedItem.botData.name }}</div>
                <div class="btn-group-vertical w-100">
                    <button *ngIf="!tradeRunning && canPlace" type="button" class="btn btn-secondary btn-sm w-100" (click)="attemptBotPlacement()">{{ ('inventory.furni.placetoroom') | translate }}</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
