<div *ngIf="visible" class="row nitro-inventory-bots-component">

    <div class="col-12" *ngIf="!hasBots">
        {{ ('inventory.empty.title') | translate }}
        {{ ('inventory.empty.desc') | translate }}
    </div>
    <ng-container *ngIf="hasBots">
        <div class="col-7 d-flex flex-column" style="z-index: 1;">
            <perfect-scrollbar class="grid-container w-100" style="min-height: 209px;max-height: 209px;height:209px;">
                <div class="grid-items grid-5">
                    <div class="d-flex flex-column item-detail justify-content-center align-items-center"
                         *ngFor="let bot of bots.getValues()"
                        >
                        <button type="button" (click)="selectBot(bot)" nitro-avatar-image [scale]="4" [figure]="bot.figure" [direction]="3" [headOnly]="true" class="d-flex flex-column item-detail justify-content-center align-items-center btn btn-secondary detail-info has-image" >

                        </button>
                    </div>
                </div>
            </perfect-scrollbar>

        </div>
        <div class="col-5 d-flex flex-column" *ngIf="selectedBot">
            <div class="room-preview" nitro-room-preview-component [roomPreviewer]="roomPreviewer" [height]="140"></div>
            <div class="d-flex flex-column flex-grow-1 justify-content-between"
                 style="z-index: 1;">
                <div class="d-flex justify-content-center align-items-center w-100 h-100">{{ selectedBot.name }}</div>
                <div class="d-flex justify-content-center align-items-center w-100 h-100">{{ selectedBot.motto }}</div>
                <div class="btn-group-vertical w-100">
                    <button *ngIf="!tradeRunning && canPlace" type="button" class="btn btn-secondary w-100"
                            (click)="attemptBotPlacement()">{{ ('inventory.furni.placetoroom') | translate }}</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
