.nitro-widget-context-menu {
    position: absolute;
    pointer-events: all;
    align-items: center;

    .widget-header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;

        .header-title {
            font-size: 14px;
            text-align: center;
            text-transform: none;
        }
    }

    .widget-body {
        width: 100%;
        padding: 5px 0;

        .button-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .button-item {
                width: 100%;
                padding: 0 10px;

                .item-name {
                    padding: 3px 10px;
                    font-weight: 300;
                    font-size: 12px;
                    text-align: center;
                }
    
                &:hover {
                    background-color: #1F1F1F;
                    cursor: pointer;
                }
            }
        }
    }

    &.avatar-menu,
    &.own-avatar-menu {
        min-width: 130px;

        .widget-header {
            padding: 5px 15px 0 15px;
        }
    }
}