.nitro-widget-trophy {
    position: absolute;
    width: 400px;

    &.trophy-color-1 {
        background:#ECC547;
        box-shadow: inset 0 0 0 1px #ECC547, inset 0 0 0 2px #FEF3B7,inset 0 -1px rgba(255,255,255,0.5);
    }

    &.trophy-color-2 {
        background-color: silver;
    }

    &.trophy-color-3 {
        background-color: brown;
    }
}