.nitro-widget-room-chat {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    height: 100px;
    z-index: 400;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    pointer-events: none;

    .room-chat-container {

        .room-chat-list-container {

            .chat-item {
                display: flex;
                position: absolute;
                pointer-events: all;
                transition: top 0.5s ease 0s;
                min-height: 24px;
                background-image: url('../assets/images/chatstyles/0/mid.png');
                background-repeat: repeat-x;

                .chat-left {
                    position: absolute;
                    width: 29px;
                    height: 24px;
                    background-image: url('../assets/images/chatstyles/0/start.png');
                    background-repeat: repeat-x;

                    .user-image {
                        position: relative;
                        left: -3px;
                        top: -2px;

                        img {
                            position: absolute;
                            top: 6px;
                            left: 1px;
                            right: 0;
                        }
                    }
                }

                .chat-right {
                    padding: 2px 6px;
                    padding-left: 10px;
                    color: rgb(0, 0, 0);

                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        right: -7px;
                        width: 7px;
                        height: 24px;
                        background-image: url('../assets/images/chatstyles/0/end.png');
                        background-repeat: repeat-x;
                    }
                }

                .chat-pointer {
                    position: absolute;
                    top: 100%;
                    width: 0;
                    border-top: 8px solid rgb(30, 30, 30);
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    margin-left: 20%;
                }

                &:not(.chat-style-0) {

                    .chat-left {
                        background-color: transparent !important;
                    }
                }

                &.chat-style-0,
                &.chat-style-2,
                &.chat-style-6 {

                    .chat-left {
                        left: -24px;
                    }
                }

                &.chat-style-6 {
                    background-image: url('../assets/images/chatstyles/6/mid.png');
                    background-repeat: repeat-x;

                    .chat-left {
                        background-image: url('../assets/images/chatstyles/6/start.png');
                        background-repeat: repeat-x;

                        &:after {
                            background-image: url('../assets/images/chatstyles/6/end.png');
                            background-repeat: repeat-x;
                        }
                    }
                }

                // Bot Style
                &.chat-style-2 {
                    background-image: url('../assets/images/chatstyles/2/mid.png');
                    background-repeat: repeat-x;

                    .chat-left {
                        background-image: url('../assets/images/chatstyles/2/start.png');
                        background-repeat: repeat-x;
                        left: -27px;

                        .user-image {
                            display: none; 
                        }
                    }

                    .chat-right {
                        color: rgb(255, 255, 255);

                        &:after {
                            background-image: url('../assets/images/chatstyles/2/end.png');
                            background-repeat: repeat-x;
                        }
                    }
                }

                &.chat-type-0 { // normal
                    .chat-right {
                        font-weight: 300;
                        font-size: 13px;
                    }
                }

                &.chat-type-1 { // whisper
                    .chat-right {
                        font-weight: 300;
                        font-style: italic;
                    }
                }

                &.chat-type-2 { // shout
                    .chat-right {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}