.nitro-widget-chat-input {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    height: 100px;
    z-index: 400;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;

    .chat-input {
        width: 500px;
        height: 45px;
        font-size: 18px;
        padding: 0 10px;
        border-radius: 8px;
        border: 2px solid rgb(0, 0, 0);
        outline: 0;
    }
}