<div class="nitro-achievement-categories-component">
    <div class="achievement-category-grid mb-1">
        <div *ngFor="let category of categories" class="rounded achievement-category-button px-1 py-2" (click)="selectCategory(category)" [ngClass]="[selectedCategory == category.name ? 'bg-warning' : 'bg-secondary']">
            <div class="align-self-center position-relative">
                <img [src]="getCategoryImage(category.name, category.achievements)">
                <div class="achievement-category-progress">{{ getCategoryProgress(category.achievements) }}</div>
                <div class="achievement-unseen px-1 py-0 btn btn-danger rounded position-absolute" *ngIf="getUnseenCategory(category)">{{ getUnseenCategory(category) }}</div>
            </div>
        </div>
    </div>
    <div class="d-block mt-1 d-flex flex-column">
        <div class="achievement-progress-bar bg-secondary rounded p-1 position-relative">
            <div class="achievement-progress-bar-inner bg-success rounded py-3" [ngStyle]="{width: getProgress()}"></div>
            <div class="achievement-progress-bar-content text-center d-flex justify-content-center"><span class="align-self-center">{{ getProgress(true) }}</span></div>
        </div>
        <div class="text-center bg-secondary rounded-bottom mx-auto px-2">{{ 'achievements.categories.score' | translate: 'score': achievementScore }}</div>
    </div>
</div>