.nitro-alert {
    position: absolute;
    width: 350px;
    max-width: 350px;

    &.multiple-messages {
        width: 430px;
        max-width: 430px;
    }
}

@import './components/notificationdialog/index.scss'