.nitro-alert {
    position: absolute;
    width: 350px;
    max-width: 350px;
}

.nitro-alert-multiple-messages-component {
    width: 430px;
    max-width: 430px;
}

@import './components/notificationdialog/index.scss'