<div [bringToTop] [draggable] dragHandle=".card-header" class="card nitro-catalog-confirm-purchase-component" [center]="true">
    <div class="card-header">
        {{ ('catalog.alert.notenough.title') | translate }}
        <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
    </div>
    <div class="d-flex card-body">
        <div class="d-flex flex-grow-1 flex-column justify-content-center p-2">
            <p>{{ ('catalog.alert.notenough.credits.description') | translate }}</p>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-space-between button-container btn-group">
            <button type="button" class="btn btn-primary" (click)="hide()">{{ ('catalog.purchase_confirmation.cancel') | translate }}</button>
        </div>
    </div>
</div>
