.nitro-loading-component {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	.logo {
		background: url('./images/nitro/nitro-light.svg') no-repeat center;
		width: 45%;
		height: 45%;
	}

	.container {
		margin-top: 40px;

		.text {
			text-align: center;
			margin-bottom: 20px;
			font-size: 20px;
		}

		.progress-container {

			.loading-bar {

				width: 350px;
				background-color: $primary;
				border-radius: 2px;
				margin: 0 auto;
				border: 1px solid white;
				box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 1);
				padding: 2px;
				margin-bottom: 20px;

				.bar {
					background-color: #387697;
					display: block;
					height: 10px;
					width: 0%;
					transition: width 1s;
				}
			}

			.percent {
				font-weight: 600;
				text-align: center;
				display: block;
				color: #8D8E8E;
			}
		}
	}
}