<div class="w-100 h-100 nitro-catalog-layout-default-component">
    <div class="d-flex flex-row position-relative flex-grow-1">
        <img *ngIf="!activeOffer && getImage(1)" [src]="getImage(1)" />
        <div>
            <h6>{{ ('catalog.vip.extend.title') | translate }}</h6>
            <p>{{ getPurseContent() }}</p>
        </div>
    </div>

    <div class="d-flex flex-row flex-grow-1" *ngFor="let vipItem of vipOffers">
        <div class="nitro-catalog-layout-vip-item">
            {{ vipItem.priceCredits }} {{ vipItem.priceActivityPoints}} {{ vipItem.priceActivityPointsType}} <br /><br />
            <button type="button" class="btn btn-success btn-sm w-100" (click)="buyVip(vipItem)">Buy</button>
        </div>
    </div>


</div>
