<div class="d-flex flex-column w-100 h-100 card nitro-catalog-layout-pets3-component small p-1">
    <perfect-scrollbar class="position-relative w-100" style="min-height: 430px;max-height: 430px;height:430px;">
        <div class="overflow-hidden">
            <div class="row m-3">
                <div class="col-sm-2 d-flex justify-content-center px-1">
                    <img class="align-self-center" [src]="getImage(1)">
                </div>
                <div class="col d-flex justify-content-center px-2">
                    <h5 class="align-self-center" [innerHtml]="getText(1)"></h5>
                </div>
            </div>
            <div class="mx-3" [innerHtml]="getText(2)"></div>
            <span class="mx-3 my-3" [innerHtml]="getText(3)"></span>
        </div>
    </perfect-scrollbar>
</div>