<div class="nitro-catalog-layout-pets3-component d-flex flex-column w-100 h-100">
    <perfect-scrollbar class="position-relative w-100" style="min-height:422px;max-height: 422px;height:422px;">
        <div class="d-flex flex-column">
            <div class="d-flex mb-2">
                <div class="d-flex justify-content-center align-items-center">
                    <img [src]="getImage(1)">
                </div>
                <div class="d-flex justify-content-center align-items-center flex-grow-1">
                    <p class="h5 m-0" [innerHtml]="getText(1)"></p>
                </div>
            </div>
            <p class="h6 m-0 mb-2" [innerHtml]="getText(2)"></p>
            <p class="h6 m-0" [innerHtml]="getText(3)">sdfgsdfgsdfg</p>
        </div>
    </perfect-scrollbar>
</div>
