.nitro-room-infostand-component {
    position: absolute;
    right: 10px;
    bottom: 80px;

    .card {
        min-height: 200px;
        min-width: 200px;
        max-width: 200px;
        z-index: 300;
        float: right;

        .card-body {

            .body-image {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba($secondary, 1);
                width: 68px;
                border-radius: 3px;
                margin-right: 5px;

                &.bot {
                    background-image: url('../../../../../assets/images/infostand/bot_background.png');
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &.furni {
                    background-color: transparent;
                    margin-right: 0;
                }

                img {
                    position: relative;
                    bottom: 10px;
                }
            }

            .badge-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                .badge-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    margin: 2px 2px 0 0;
                    width: calc(1 / 2 * 100% - (1 - 1 / 2) * 2px);
                    height: 40px;
                    box-sizing: border-box;

                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
            }

            .motto-container {
                display: flex;
                align-items: center;
                min-height: 28px;
                width: 100%;
                padding: 5px 8px;
                background-color: rgba($secondary, 1);
                border-radius: 3px;

                i.icon {
                    margin-right: 5px;
                }

                .motto {
                    font-size: 12px;
                    width: 100%;
                    word-break: break-word;
                }

                .motto-input {
                    width: 100%;
                    height: 100%;
                    font-size: 12px;
                    padding: 0;
                    outline: 0;
                    border: 0;
                    color: rgba($white, 1);
                    position: relative;
                    background: transparent;

                    &:focus {
                        font-style: italic;
                    }
                }
            }

            p {
                display: block;
                font-size: 12px;
            }

            .furni-description {
                margin: 0;
                padding: 10px 0;
                font-size: 12px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}