.nitro-catalog {
    position: absolute;
    width: 600px;
    max-width: 600px;
    min-height: 570px;

    .grid-container {

        .grid-items {

            .item-detail {
                height: 50px;
                max-height: 50px;

                .count {
                    top: 0.16rem;
                    right: 3px;
                    font-size: 10px;
                }
            }
        }
    }

    .nitro-catalog-navigation-component {

        .list-group {

            .nav-item {

                .list-group-item {
                    padding: 4px 10px;
                    font-weight: 300;
                    font-size: 14px;
                    width: 100%;

                    &:hover {
                        background: rgba(196, 196, 196, 0.1);
                        cursor: pointer;
                    }

                    .icon-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20px;
                        margin-right: 3px;
                    }
                }

                .nav-item {

                    .list-group-item {
                        padding-left: 18px;
                    }

                    .nav-item {

                        .list-group-item {
                            padding-left: 26px;
                        }

                        .nav-item {

                            .list-group-item {
                                padding-left: 34px;
                            }

                            .nav-item {

                                .list-group-item {
                                    padding-left: 42px;
                                }

                                .nav-item {

                                    .list-group-item {
                                        padding-left: 50px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .quantity-area,
    .purchase-area {

        p {
            font-size: 14px;
        }
    }

    .quantity-area,
    .price-area {

        p {
            font-size: 14px;
        }

        input {
            width: 60px;
        }
    }

	.front-page-item {
        border-radius: 5px;
        background-position: center;
        position: relative;
        cursor: pointer;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.45);

        .front-page-item-caption {
            position: absolute;
            background: rgba(0, 0, 0, .5);
            color: #fff;
            font-size: 16px;
            border-radius: 5px;
            margin: 10px;
            padding: 5px 15px;
            bottom: 0;
            text-shadow: 2px 2px rgba(0, 0, 0, .2);
        }
    }

    .front-page-item.tall {
        height: 100%;
    }

    .front-page-item.wide {
        height: 123px;
    }
}

.nitro-catalog-confirm-purchase-component {
    position: absolute;
    width: 300px;

    .product-preview {
        width: 120px;
        height: 150px;
        max-width: 120px;
        max-height: 150px;
        background-color: rgba($primary, 1);
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        border-radius: $border-radius;
    }
}

.nitro-catalog-confirm-vip-subscription-component {
    position: absolute;
    widows: 300px;

    .icon {
        width: 120px;
        height: 150px;
        max-width: 120px;
        max-height: 150px;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;

        background: url('^assets/images/catalog/hc_big.png');
    }

}

.nitro-catalog-layout-trophies-component {

    .nitro-catalog-layout-trophies-selector {
        min-height: 130px;
    }

    .nitro-catalog-layout-trophies-types {
        min-height: 50px;
    }

    .color-gold {
        background-color: #CBA200;
    }

    .color-silver {
        background-color: #A2A2A2;
    }

    .color-bronze {
        background-color: #A25100;
    }

    .selected {
        border:1px solid #000;
        box-shadow: inset 0 0 0 2px $white;
    }

    textarea {
        color: #fff;
        resize: none;

        &:focus {
            outline:0;
            box-shadow: 0;
        }
    }
}


.nitro-catalog-layout-vip-gifts-component {

    .gift-item {
        .gift-image {
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;

        }
    }
}
