
.nitro-furniture-dimmer {
    position: absolute;
    width: 350px;
    max-width: 350px;

    .dimmer-inner {
        border-radius: $border-radius;

        .dimmer-colour-list {

            .dimmer-colour {
                width: 100%;

                &:not(:last-child) {
                    margin-right: 5px;
                }

                &.color-selected {
                    color: black;
                    border: 2px solid $white;
                 }
            }
        }
    }

}
