<div [draggable] [center]="false" dragHandle=".card-header" class="card user-tool-card">
    <div class="card-header">
			<span>
			<i class="icon modtool-user-icon" style="margin-right: 5px;"></i>
                Message to: {{user.username}}
			</span>
        <button type="button" class="close" (click)="close()"><i class="fas fa-times"></i></button>
    </div>
    <div class="card-body">


        <div class="form-group mb-2">
            <select [(ngModel)]="optionId"  (change)="selectMessage(optionId)"
                    class="form-control form-control-sm">
                <option [value]="-1">Message :</option>
                <option *ngFor="let item of options; let i = index" [value]="i">{{ item }}</option>
            </select></div>

        <div class="form-group mb-2">
            <textarea [(ngModel)]="message" class="form-control"></textarea>
        </div>

        <div class="form-group mb-2">
            <button (click)="sendMessage()" type="button" class="btn btn-primary">Send message</button>
        </div>
    </div>
</div>
