<div #activeView class="nitro-room-avatarinfo-rentable-component context-menu">
    <div class="card align-items-center">
        <div class="d-flex card-header align-items-center w-100">{{ userName }}</div>
        <div class="card-body">
            <ng-container *ngFor="let entry of menu">
                <ul *ngIf="(mode === entry.mode)" class="list-group list-group-flush">
                    <ng-container *ngFor="let item of entry.items">
                        <ng-container *ngIf="item.visible" [ngSwitch]="item.name">
                            <li *ngSwitchCase="'respect'" (click)="processAction(item.name)" class="list-group-item">{{ item.localization | translate:'count':avatarData._Str_3577 }}</li>
                            <li *ngSwitchDefault (click)="processAction(item.name)" class="list-group-item">{{ item.localization | translate }}</li>
                        </ng-container>
                    </ng-container>
                </ul>
            </ng-container>
        </div>
        <div class="card-pointer"></div>
    </div>
</div>
