<div class="modal-header">
    {{ ('navigator.password.title') | translate }}
    <button type="button" class="close" (click)="close()"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <div *ngIf="room" class="font-weight-bold">{{ room.roomName }}</div>
            <div *ngIf="!isWrongPassword">{{ ('navigator.password.info') | translate }}</div>
            <div *ngIf="isWrongPassword">{{ ('navigator.password.retryinfo') | translate }}</div>
            <br>
            <div class="form-group">
                <label>{{ ('navigator.password.enter') | translate }}</label>
                <input autocomplete="new-password" type="password" class="form-control form-control-sm" [(ngModel)]="password" placeholder="*****">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" (click)="close()">{{ ('generic.cancel') | translate }}</button>
                <button type="button" class="btn btn-primary" (click)="tryPassword()">{{ ('navigator.password.button.try') | translate }}</button>
            </div>
        </div>
    </div>
</div>
