.nitro-room-avatarinfo-component {
    
    .context-menu {
        position: absolute;
        z-index: $context-menu-zindex;
        min-width: 70px;
    }

    .card {

        .list-group {
                
            .list-group-item {
                padding: 3px 10px;
                font-weight: 300;
                font-size: 12px;
                text-align: center;
                width: 100%;
                z-index: 1;

                &:hover {
                    background: rgba($secondary, 1);
                    cursor: pointer;
                }
            }
        }

        .form-group {

        }

        // .card-pointer {
        //     position: absolute;
        //     top: 100%;
        //     width: 0;
        //     border-top: 8px solid $card-bg;
        //     border-left: 8px solid transparent;
        //     border-right: 8px solid transparent;
        // }

        &:after {
            content: "";
            position: absolute;
            bottom: -5.5px;
            left: 0;
            right: 0;
            margin: auto;
            height: 10px;
            width: 10px;
            background: $card-bg;
            transform: rotate(45deg);
            border-right: $card-border-width solid $card-border-color;
            border-bottom: $card-border-width solid $card-border-color;
            box-shadow: 2px 2px 0px rgb($black, .45), inset -2px -2px 0px rgb($white, .1);
        }
    }
}
