.nitro-main-component {
}

$gutters-x: 20px;
$gutters-y: 20px;

$navigator-width: 500px;
$navigator-height: 600px;
$navigator-gutter-x: 120px;
$navigator-gutter-y: $gutters-y;

$inventory-width: 515px;
$inventory-height: 374px;
$inventory-gutter-x: 120px;
$inventory-gutter-y: $gutters-y;

@import './catalog';
@import './hotelview';
@import './inventory';
@import './navigator';
@import './purse';
@import './room';
@import './toolbar';
@import './wired';