.nitro-main-component {
}

$navigator-width: 515px;
$navigator-height: 600px;
$navigator-roomsettings-width: 400px;

$inventory-width: 515px;
$friendlist-width: 645px;

$achievements-width: 645px;


$user-profile-width: 620px;

@import './achievements';
@import './avatar-editor';
@import './catalog';
@import './friendlist';
@import './hotelview';
@import './inventory';
@import './navigator';
@import './notification';
@import './purse';
@import './room';
@import './toolbar';
@import './user-profile';
@import './wired';
@import './mod-tool';
@import './chat-history';
