<div [bringToTop] [draggable] dragHandle=".card-header" class="card nitro-catalog-confirm-vip-subscription-component">
    <div class="card-header">
        {{ ('catalog.club.buy.confirm') | translate }}
        <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
    </div>
    <div class="d-flex card-body">
        <h6>{{ getSubscriptionHeader() }}</h6>
        <p>{{ getSubscriptionText() }}</p>
        <div class="icon product-preview"></div>
<!--        <div #imageElement class="product-preview" [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')'}"></div>-->
<!--        <div class="d-flex flex-grow-1 flex-column justify-content-center p-2">-->
<!--            <div class="offer-name">{{ offer.localizationId }}</div>-->
<!--            <div class="offer-quantity" *ngIf="quantity">X {{ quantity }}</div>-->
<!--            <div class="d-flex align-items-center justify-content-center badge badge-secondary">-->
<!--                <p *ngIf="costCredits" class="d-flex align-items-center mb-0"><i class="icon icon-currency&#45;&#45;1 mr-1"></i> {{ costCredits }}</p>-->
<!--                <p *ngIf="costCredits && costPoints" class="mx-2 mb-0">+</p>-->
<!--                <p *ngIf="costPoints" class="d-flex align-items-center mb-0"><i class="icon icon-currency-{{ pointsType }} mr-1"></i>{{ costPoints }}</p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="card-footer">
        <div class="d-flex justify-space-between button-container btn-group">
            <button type="button" class="btn btn-primary" (click)="hide()">{{ ('catalog.purchase_confirmation.cancel') | translate }}</button>
            <button type="button" class="btn btn-success" (click)="purchase()">{{ ('catalog.club.buy.subscribe') | translate }}</button>
        </div>
    </div>
</div>
