<div *ngIf="visible" [draggable] [bringToTop] class="nitro-group-manager-component" dragHandle=".drag-handler">
    <div class="card">
        <div class="drag-handler d-flex justify-content-between align-items-center px-3 pt-3">
            <h6 class="m-0">{{ ('group.window.title') | translate }}</h6>
            <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
        </div>
        <div class="p-3">
            <div class="btn-group mb-3 w-100">
                <button class="btn btn-primary" [ngClass]="{'active': currentTab === 1}" (click)="setTab(1)">{{ ('group.edit.tab.1') | translate }}</button>
                <button class="btn btn-primary" [ngClass]="{'active': currentTab === 2}" (click)="setTab(2)">{{ ('group.edit.tab.2') | translate }}</button>
                <button class="btn btn-primary" [ngClass]="{'active': currentTab === 3}" (click)="setTab(3)">{{ ('group.edit.tab.3') | translate }}</button>
                <button class="btn btn-primary" [ngClass]="{'active': currentTab === 4}" (click)="setTab(4)">{{ ('group.edit.tab.5') | translate }}</button>
            </div>

            <nitro-group-manager-tab-info-component *ngIf="currentTab === 1"
            [(groupSettings)]="groupSettings"
            [showNameError]="showNameError"
            [showDescriptionError]="showDescriptionError"></nitro-group-manager-tab-info-component>
            
            <nitro-group-creator-tab-badge-component *ngIf="currentTab === 2"
            [(groupSettings)]="groupSettings"
            [setDefaultValues]="false"></nitro-group-creator-tab-badge-component>
    
            <nitro-group-creator-tab-colors-component *ngIf="currentTab === 3"
            [(groupSettings)]="groupSettings"
            [setDefaultValues]="false"></nitro-group-creator-tab-colors-component>

            <nitro-group-manager-tab-preferences-component *ngIf="currentTab === 4"
            [(groupSettings)]="groupSettings"></nitro-group-manager-tab-preferences-component>

            <div class="d-flex flex-row justify-content-between">
                <div class="btn-group">
                    <button class="btn btn-secondary" (click)="hide()">{{ ('generic.cancel') | translate }}</button>
                    <button class="btn btn-danger" (click)="delete()">{{ ('group.delete') | translate }}</button>
                </div>
                <button class="btn btn-success" (click)="save()">{{ ('save') | translate }}</button>
            </div>
        </div>
    </div>
</div>
