.nitro-furniture-friends-engraving {
    position: absolute;
    width: 375px;
    max-width: 375px;
    height:210px;

    .friend-close {
        right: 26px;
        height: 15px;
        width: 15px;
        top: 34px;
    }
    
    p {
        color:#000;
        text-shadow: 0 1px rgba(255,255,255,.3);
    }

}
