<div *ngIf="visible" [bringToTop] [draggable] class="card nitro-room-furniture-dimmer-component">
    <div class="drag-handler d-flex align-items-center justify-content-between pt-3 px-3 w-100">
        <h6 class="m-0">{{ ('widget.dimmer.title') | translate }}</h6>
        <div class="close" (click)="hide()"><i class="fas fa-times"></i></div>
    </div>
    <div class="p-3">
        <div class="dimmer-inner bg-secondary p-2">
            <ng-container *ngIf="!isOn">
                <div class="d-flex flex-row justify-content-between">
                    <button type="button" class="btn btn-sm btn-primary w-100" (click)="selectPreset((i + 1))"
                        *ngFor="let preset of presets; let i = index;">{{ ('widget.dimmer.tab.' + (i + 1)) |
                        translate}}</button>
                </div>
                <div class="py-2">
                    <div class="d-flex flex-row dimmer-colour-list">
                        <button type="button" class="btn btn-sm dimmer-colour py-3" (click)="selectColor(color)"
                            [ngClass]="{'color-selected': getSelectedPreset().color == color}"
                            *ngFor="let color of  availableColors; let i = index"
                            [ngStyle]="{'background-color': htmlColors[i]}"></button>
                    </div>
                    <div class="custom-slider">
                        <ngx-slider (valueChange)="onSliderChange()" [options]="delaySliderOptions"
                            [(value)]="getSelectedPreset().intensity"></ngx-slider>
                    </div>
                </div>
                <div class="d-block mb-1">
                    <div class="form-check">
                        <input type="checkbox" (change)="changeCheckbox($event)"
                            [ngModel]="getSelectedPreset().backgroundOnly" class="form-check-input">
                        <label class="form-check-label">{{ 'widget.dimmer.type.checkbox' | translate }}</label>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <button type="button" class="btn btn-primary btn-sm" (click)="handleButton('on_off')">{{ (isOn ?
                        'widget.dimmer.button.off' : 'widget.dimmer.button.on') | translate}}</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="handleButton('apply')">{{
                        'widget.dimmer.button.apply' | translate }}</button>
                </div>
            </ng-container>
            <ng-container *ngIf="isOn">
                {{ 'widget.dimmer.info.off' | translate }}
                <button type="button" class="btn btn-primary btn-sm w-100" (click)="handleButton('on_off')">{{ (isOn ?
                    'widget.dimmer.button.off' : 'widget.dimmer.button.on') | translate}}</button>
            </ng-container>
        </div>
    </div>
</div>