<div class="mb-3">{{ ('group.edit.badge.badge') | translate }}</div>
<div class="row">
    <div class="col-3">
        <button class="btn btn-primary" style="width: 120px;height: 67px;">
            <nitro-badge [badge]="currentBadgeCode" [isGroup]="true"></nitro-badge>
        </button>
    </div>
    <div class="col-9">
        <div *ngIf="!selectorVisible">
            <div *ngFor="let part of groupSettings.badgeParts | keyvalue" class="d-flex flex-row justify-content-between mb-3">
                <button class="btn btn-primary" style="width: 120px;height: 67px;" (click)="openPartSelector(part.value)">
                    <nitro-badge [badge]="part.value.code" [isGroup]="true"></nitro-badge>
                </button>
                <div class="grid-container ml-3" [ngStyle]="{opacity: part.value.isBase ? 0 : 1}">
                    <div class="grid-items grid-3 pb-1">
                        <button *ngFor="let position of positions" class="item-detail btn btn-sm"
                         [ngClass]="part.value.position === position ? 'btn-light' : 'btn-primary'" (click)="part.value.position = position;"></button>
                    </div>
                </div>
                <div class="grid-container ml-3">
                    <div class="grid-items grid-8 pb-1">
                        <button *ngFor="let color of badgePartColors | keyvalue" class="item-detail btn btn-primary btn-sm"
                        [style]="{backgroundColor: '#' + color.value}" (click)="part.value.color = color.key;"></button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="selectorVisible" nitro-group-image-selector-component [items]="(badgePartBeingSelected && badgePartBeingSelected.isBase) ? badgeBases : badgeSymbols" [part]="badgePartBeingSelected" (onSelect)="onPartSelected($event)"></div>
    </div>
</div>
