@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');


html,
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

#nitro {
    width: 100%;
    height: 100%;
    position: absolute;

    .nitro-room-component {
        overflow: hidden;
    }
}

@import './shared';
@import './components';