<div class="d-flex flex-column align-items-end">
    <div class="infostand d-flex flex-column btn btn-primary rounded p-0 nohover">
        <div class="d-flex align-items-center justify-content-between pt-3 px-3">
            {{ furniData.name }}
            <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
        </div>
        <div class="d-flex flex-column m-3">
            <div class="w-100">
                <img class="d-block mx-auto" [src]="furniData.imageUrl" />
            </div>
            <div class="d-flex flex-column mt-2">
                <p class="badge badge-secondary mb-0">{{ furniData.description }}</p>
                <p class="badge badge-secondary mt-2 mb-0">{{ ('furni.owner') | translate:updateCount }}</p>
            </div>
        </div>
    </div>
    <div class="button-container btn-group mt-2">
        <button *ngIf="canMove" type="button" class="btn btn-primary" (click)="processButtonAction('move')">{{ 'infostand.button.move' | translate }}</button>
        <button *ngIf="canRotate" type="button" class="btn btn-primary" (click)="processButtonAction('rotate')">{{ 'infostand.button.rotate' | translate }}</button>
        <button *ngIf="(pickupMode !== 0)" type="button" class="btn btn-primary" (click)="processButtonAction('pickup')">{{ (pickupMode === 1 ? 'infostand.button.eject' : 'infostand.button.pickup') | translate }}</button>
        <button *ngIf="canUse" type="button" class="btn btn-primary" (click)="processButtonAction('use')">{{ 'infostand.button.use' | translate }}</button>
    </div>
</div>