<div *ngIf="visible" [bringToTop] [draggable] class="nitro-mod-tool-component card" [topCenter]="false">
    <div class="drag-handler d-flex justify-content-between align-items-center px-3 pt-3">
        <h6 class="m-0">Mod tools</h6>
    </div>
    <div class="d-flex flex-column p-3">
        <div class="btn-group btn-group-vertical w-100">
            <button class="btn btn-sm btn-secondary" (click)="openRoomTool()" [disabled]="!hasRoomInfo()">
                <i class="icon modtool-room-icon mr-1"></i>
                Room Tool
            </button>
            <button class="btn btn-sm btn-secondary" (click)="openChatlogTool()" [disabled]="!hasRoomInfo()">
                <i class="icon modtool-chatlog-icon mr-1"></i>
                Chatlog Tool
            </button>
            <button class="btn btn-sm btn-secondary" [disabled]="!selectedUser" (click)="selectUser()">
                <i class="icon modtool-user-icon mr-1"></i>
                User: <span class="username" *ngIf="selectedUser">{{selectedUser.username}}</span>
            </button>
            <button class="btn btn-sm btn-secondary" (click)="toggleReportsTool()">
                <i class="icon modtool-reports-icon mr-1"></i>
                Reports Tool
            </button>
        </div>
    </div>
    <nitro-mod-tool-room-component *ngIf="showRoomTool"></nitro-mod-tool-room-component>
    <nitro-mod-tool-room-chatlogs-component *ngIf="showRoomChatlogs" ></nitro-mod-tool-room-chatlogs-component>
    <nitro-mod-tool-user-component *ngIf="userToolVisible" [user]="clickedUser"></nitro-mod-tool-user-component>
    <nitro-mod-tool-reports-component [(visible)]="reportsToolVisible"></nitro-mod-tool-reports-component>
    <nitro-mod-tool-mod-action-user-component *ngIf="showModActionOnUser" [user]="clickedUser"></nitro-mod-tool-mod-action-user-component>
    <nitro-mod-tool-user-visited-rooms-component *ngIf="showVisitedRoomsForUser" [user]="clickedUser" ></nitro-mod-tool-user-visited-rooms-component>
    <nitro-mod-tool-user-send-message-component *ngIf="showSendUserMessage" [user]="clickedUser"></nitro-mod-tool-user-send-message-component>
    <nitro-mod-tool-user-chatlogs-component  *ngIf="showSendUserChatlogs" [user]="clickedUser"></nitro-mod-tool-user-chatlogs-component>
</div>
