<div *ngIf="visible" [bringToTop] [draggable] dragHandle=".card-header" class="card nitro-room-tools-room-info-component">
    <div class="card-header">
        {{ ('navigator.room.info.popup.title') | translate }}
        <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
    </div>
    <div class="card-body">
        {{ roomData.roomName }}<br>
        {{ ('navigator.roomownercaption') | translate }} {{ roomData.ownerName }}<br>
        {{ ('navigator.roomrating') | translate }} {{ roomData.ranking }}

        <div class="room-thumbnail"><img src=""></div>

        <div class="btn-group-vertical w-100 mt-2">
            <button type="button" *ngIf="roomSettingsVisible" class="btn btn-secondary mb-1" (click)="handleButtonClick('room_settings_button')">{{ ('navigator.room.popup.info.room.settings') | translate }}</button>
            <button type="button" *ngIf="roomFilterVisible" class="btn btn-secondary mb-1" disabled>{{ ('navigator.roomsettings.roomfilter') | translate }}</button>
            <button type="button" *ngIf="floorPlanVisible" class="btn btn-secondary mb-1" disabled>{{ ('open.floor.plan.editor') | translate }}</button>
            <button type="button" *ngIf="addStaffPickedVisible" class="btn btn-secondary" (click)="handleButtonClick('room_staff_pick')">{{ (staffPickVisible ? 'navigator.staffpicks.unpick' : 'navigator.staffpicks.pick') | translate }}</button>
        </div>

        <div class="btn-group-vertical w-100 mt-2">
            <button type="button" class="btn btn-danger" (click)="handleButtonClick('room_report_button')">{{ ('help.emergency.main.report.room') | translate }}</button>
        </div>

        <div class="btn-group-vertical w-100 mt-2">
            <button type="button" class="btn btn-secondary mb-1" disabled>{{ ('navigator.muteall_off') | translate }}</button>
            <!--            Unmute all: navigator.muteall_on -->
        </div>
        <!--        navigator.staffpicks.unpick-->
    </div>
</div>
