<div [bringToTop] [draggable] dragHandle=".card-header" class="card nitro-alert nitro-alert-multiple-messages-component"
    noMemory="true">
    <div class="card-header text-center">
        {{ title }}
    </div>
    <div class="card-body">
        <perfect-scrollbar class="position-relative w-100" style="min-height:275px;max-height:275px;height:275px;">
            <ng-container *ngFor="let message of messages">
                <div class="d-flex flex-column" [innerHTML]="message | keepHtml"></div>
            </ng-container>
        </perfect-scrollbar>
        <div class="d-flex align-items-center justify-content-center mt-2">
            <button type="button" class="btn btn-success" (click)="close()">{{ ('generic.close') | translate }}</button>
        </div>
    </div>
</div>