<div class="nitro-hotelview-component" [ngStyle]="{background: backgroundColour}">
    <div class="background position-absolute" [ngStyle]="{backgroundImage: 'url('+background+')'}"></div>
    <img class="sun position-absolute" [src]="sun" image-placeholder />
    <img class="drape position-absolute" [src]="drape" image-placeholder />
    <img class="left position-absolute" [src]="left" image-placeholder />
    <img class="rightRepeat position-absolute" [src]="rightRepeat" image-placeholder />
    <img class="right position-absolute" [src]="right" image-placeholder />
</div>
