<div class="nitro-friendlist-thread-viewer-component">
    <div class="d-flex flex-row thread-viewer-user mb-1 justify-content-between">
        <div class="d-flex flex-row">
            <div class="avatar-img" nitro-avatar-image [headOnly]="1" [figure]="thread.participant.figure" [direction]="2"></div>
            <div class="thread-viewer-user-info">
                <b class="d-flex flex-row">{{ participant.name }}<div class="ml-2 p-1 rounded-circle align-self-center" [ngClass]="[ participant.online ? 'bg-success' : 'bg-danger' ]"></div></b>
                <span class="d-block text-muted small text-truncate">{{ participant.motto }}</span>
            </div>
        </div>
        <div class="input-group-prepend align-self-center" ngbDropdown>
            <div class="btn-group">
                <div class="btn btn-sm btn-dgreen align-self-center" *ngIf="(participant.online)" (click)="followParticipant()"><i class="fas fa-arrow-right"></i></div>
                <button type="button" class="btn btn-primary btn-sm" ngbDropdownToggle>{{ relations[thread.participant.relationshipStatus] }}</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item small" *ngFor="let relation of relations; let i = index;" (click)="changeRelation(i)" ngbDropdownItem>{{ relation }}</button>
                </div>
            </div>
        </div>
    </div>
    <perfect-scrollbar #threadScroller class="position-relative w-100 my-1" style="min-height:299px;max-height:299px;height:299px;">
        <div class="thread-viewer-list">
            <div *ngFor="let chat of chats" class="thread-viewer-list-item mb-1" [ngClass]="[ (chat.senderId === participant.id) ? 'thread-viewer-list-left' : 'thread-viewer-list-right' ]">
                <div class="thread-viewer-list-item-message p-2">{{ chat.message }}</div>
            </div>
        </div>
    </perfect-scrollbar>
    <div class="thread-viewer-input">
        <input class="thread-viewer-input form-control" type="text" maxLength="420" (keydown.enter)="onKeyDownEvent($event)" />
    </div>
</div>