<div *ngIf="visible" [bringToTop] [draggable] class="nitro-inventory card" dragHandle=".drag-handler">
    <div class="drag-handler d-flex justify-content-between align-items-center px-3 pt-3">
        <h6 class="m-0">{{ ('inventory.title') | translate }}</h6>
        <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
    </div>
    <div class="d-flex flex-column p-3">
        <div class="btn-group w-100 mb-3">
            <button (click)="showFurniture()" type="button" class="btn btn-secondary" [ngClass]="{ 'active': furnitureVisible || tradingVisible }">{{ 'inventory.furni' | translate }}</button>
            <button (click)="showBots()" type="button" class="btn btn-secondary" [ngClass]="{ 'active': botsVisible }">{{ 'inventory.bots' | translate }}</button>
            <button (click)="showBadges()" type="button" class="btn btn-secondary" [ngClass]="{'active' : badgesVisible}">{{ 'inventory.badges' | translate }}</button>
        </div>
        <div nitro-inventory-bots-component [visible]="botsVisible" [roomPreviewer]="roomPreviewer"></div>
        <div nitro-inventory-furniture-component [visible]="furnitureVisible" [roomPreviewer]="roomPreviewer"></div>
        <div nitro-inventory-badges-component [visible]="badgesVisible"></div>
        <div nitro-inventory-trading-component [visible]="tradingVisible"></div>
    </div>
</div>
