.nitro-toolbar-component {
    position: absolute;
    top: 20px;
    left: 20px;

    .nitro-icon {
		background: url('https://nitro-assets.hrw.pw/nitro-icon-white.png') no-repeat;
		background-size: contain;
		width: calc(298px / 10);
		height: calc(425px / 10);
	}

    .card {
        width: 80px;
        max-width: 80px;
        align-items: center;
        z-index: 400;

        .card-body {

            .list-group {
                align-items: center;

                .list-group-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    .icon {
                        position: relative;
                    }

                    &:active {
                        -webkit-transform: translate(0, 1px);
                        transform: translate(0, 1px);
                    }

                    &.avatar-image {
                        width: 75px;
                        height: 70px;
                        overflow: hidden;

                        img {
                            position: relative;
                            top: 10px;
                        }
                    }
                }
            }
        }
    }

    @media (pointer:none), (pointer:coarse) and (orientation:portrait) {
        top: 0;
        left: 0;
        width: 100%;

        .card {
            width: 100%;
            max-width: 100%;
            flex-direction: row;

            .list-group {
                flex-direction: row;
                justify-content: space-between;

                .list-group-item {
                    padding: unset;
                }
            }
        }
    }

    @media (pointer:none), (pointer:coarse) and (orientation:landscape) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: auto;

        .card {
            width: 80px;
            max-width: 100%;
            flex-direction: column;
            height: 100%;

            .list-group {
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                .list-group-item {
                    padding: unset;
                }
            }
        }
    }
}

.toolbar-icon-animation {
    position: absolute;
    object-fit: cover;
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 150px;
    z-index: 500;
    filter: drop-shadow(2px 1px 0 rgba($white, 1)) drop-shadow(-2px 1px 0 rgba($white, 1)) drop-shadow(0 -2px 0 rgba($white, 1));
}