<div *ngIf="visible" [bringToTop] [draggable] dragHandle=".card-header" class="card nitro-achievements-main-component">
    <div class="card-header">
        {{ 'inventory.achievements' | translate }}
        <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <nitro-achievements-category-list-component></nitro-achievements-category-list-component>
            </div>
            <div class="col-6">
                <nitro-achievements-category-component *ngIf="selectedCategory" [category]="selectedCategory"></nitro-achievements-category-component>
            </div>
        </div>
    </div>
</div>