.nitro-room-tools {
    position: absolute;
    left: 10px;
    bottom: 87px;
    z-index: $roomtools-zindex;
}

.nitro-room-tools-room-info-component {
    position: absolute;
    max-width: 400px;
}
