<div *ngIf="!activeOffer.products[0].uniqueLimitedItem || activeOffer.products[0].uniqueLimitedItemsLeft > 0" class="d-flex w-100" [ngClass]="{ 'flex-column h-100 ': vertical, 'justify-content-between': quantityEnabled }">
    <div *ngIf="quantityEnabled" class="d-flex flex-column justify-content-end mr-3 quantity-area">
        <p class="mb-1">{{ ('catalog.bundlewidget.quantity') | translate }}</p>
        <div class="d-flex input-group">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-primary btn-sm" (click)="decrease()"><i class="fas fa-arrow-left"></i></button>
            </div>
            <input type="number" class="form-control form-control-sm" [(ngModel)]="quantity" min="1" [max]="maxQuantity">
            <div class="input-group-append">
                <button type="button" class="btn btn-primary btn-sm" (click)="increase()"><i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="d-flex" [ngClass]="[ ((vertical || quantityEnabled) ? 'flex-column justify-content-end h-100': 'justify-content-between w-100') ]">
        <div class="d-flex flex-column justify-content-center align-items-end price-area" [ngClass]="{ 'justify-content-end': vertical }">
            <p class="mb-0">{{ ('catalog.bundlewidget.price') | translate }}</p>
            <div class="d-flex mb-1">
                <div *ngIf="costCredits" class="d-flex align-items-center mb-0">
                    <div class="mr-1" style="width:20px;height:20px;" nitro-currency-icon [type]="-1"></div>
                    {{ costCredits }}
                </div>
                <div *ngIf="costCredits && costPoints" class="mx-2 mb-0">+</div>
                <div *ngIf="costPoints" class="d-flex align-items-center mb-0">
                    <div class="mr-1" style="width:20px;height:20px;" nitro-currency-icon [type]="pointsType"></div>
                    {{ costPoints }}
                </div>
            </div>
        </div>
        <div class="d-flex btn-group" [ngClass]="[ vertical ? 'flex-column' : '' ]">
            <button type="button" class="btn btn-success btn-sm" (click)="purchase()">{{ ('buy') | translate }}</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="purchase(true)">{{ ('catalog.purchase_confirmation.gift') | translate }}</button>
        </div>
    </div>
</div>
