<div [bringToTop] [draggable] class="nitro-catalog-customize-gift-component card">
    <div class="drag-handler d-flex justify-content-between align-items-center px-3 pt-3">
        <h6 class="m-0">{{ 'catalog.gift_wrapping.title' | translate }}</h6>
        <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
    </div>
    <div class="row p-3">
        <input type="text" class="form-control form-control-sm"  [(ngModel)]="receiverName" placeholder="{{ 'catalog.gift_wrapping.receiver' | translate }}">
    </div>

    <div class="row p-3">
        <div nitro-avatar-image *ngIf="showFace" [headOnly]="true" [direction]="2" [figure]="habboFace" ></div>
        <div *ngIf="!showFace" class="ingognito"></div>
        <div class="col-sm-8">
          <textarea [(ngModel)]="message" class="form-control w-200"></textarea>
        </div>
    </div>
    <div class="row p-3">
        <input id="showNameAndFace" class="form-check-input" type="checkbox"  (change)="changeCheckbox($event)" [(ngModel)]="showFace">
        <label for="showNameAndFace" class="form-check-label">{{ ('catalog.gift_wrapping.show_face.title') | translate }}</label>
    </div>
    <div class="row p-3">
        <div nitro-furni-floor-image class="col-lg-3" [spriteId]="boxSpriteId" [extras]="extras"></div>
        <div class="col-lg-8">
            <div class="row md-3">
                <div class="btn-group">
                    <button type="button" (click)="handleButton('previous_box')" class="btn btn-primary"><i class="fas fa-chevron-left"></i></button>
                    <button type="button" (click)="handleButton('next_box')" class="btn btn-primary"><i class="fas fa-chevron-right"></i></button>
                </div>
                <div class="col-md-auto">
                    <div class="row">
                        <div class="col-md-auto">{{ boxText}}</div>
                    </div>
                    <div *ngIf="priceText && priceText.length > 0" class="row">
                        <div class="col-md-auto">{{ priceText }}</div>
                    </div>
                </div>
            </div>
            <div class="row md-3">
                <div class="btn-group">
                    <button type="button" [disabled]="isDefaultBox" (click)="handleButton('previous_ribbon')" class="btn btn-primary"><i class="fas fa-chevron-left"></i></button>
                    <button type="button" [disabled]="isDefaultBox" (click)="handleButton('next_ribbon')" class="btn btn-primary"><i class="fas fa-chevron-right"></i></button>
                </div>
                <div class="col-md-auto">
                    <div class="row">
                        <div class="col-md-auto" [ngClass]="{'is-unavailable': isDefaultBox}">{{ ribbonText }}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div  class="row p-3">
        <div class="btn-group w-100 mb-3">
            <button *ngFor="let item of colors" class="btn btn-sm btn-primary floorplan-height-option" [disabled]="!hasColors" (click)="selectTypeId(item)" [ngStyle]="{'backgroundColor': getColor(item), 'height': '40px'}"></button>
        </div>
    </div>
    <div class="row align-items-end pt-0 px-3 pb-3">
        <div class="col btn-group">
            <button type="button" class="btn btn-primary" (click)="handleButton('close')">{{ ('catalog.purchase_confirmation.cancel') | translate }}</button>
            <button type="button" class="btn btn-success" (click)="handleButton('give_gift')">{{ 'catalog.gift_wrapping.give_gift' | translate }}</button>
        </div>
    </div>
</div>

<div *ngIf="showUsernameErrorDialog" [bringToTop] [draggable] class="nitro-catalog-customize-gift-component card">
    <div class="drag-handler d-flex justify-content-between align-items-center px-3 pt-3">
        <h6 class="m-0">{{ 'catalog.gift_wrapping.receiver_not_found.title' | translate }}</h6>
        <button type="button" class="close" (click)="hideUsernameDialog()"><i class="fas fa-times"></i></button>
    </div>
    <div class="row p-3">
        <p>{{ 'catalog.gift_wrapping.receiver_not_found.info' | translate }}</p>
    </div>

    <div class="row align-items-end pt-0 px-3 pb-3">
        <div class="col btn-group">
            <button type="button" class="btn btn-primary" (click)="hideUsernameDialog()">{{ ('generic.ok') | translate }}</button>
        </div>
    </div>
</div>
