@font-face {
    font-family: Ubuntu;
    src: url('^assets/webfonts/Ubuntu.ttf');
}

@font-face {
    font-family: GameUbuntu;
    src: url('^assets/webfonts/Ubuntu-C.ttf');
}

@font-face {
    font-family: UbuntuItalics;
    src: url('^assets/webfonts/Ubuntu-i.ttf');
}

@font-face {
    font-family: UbuntuItalicsBold;
    src: url('^assets/webfonts/Ubuntu-ib.ttf');
}

@font-face {
    font-family: UbuntuBold;
    src: url('^assets/webfonts/Ubuntu-b.ttf');
}

@font-face {
    font-family: UbuntuMedium;
    src: url('^assets/webfonts/Ubuntu-m.ttf');
}
