.fas {
    line-height: unset !important;
}

i {

    &.icon {
        display: inline-block;
        outline: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &.icon-nitro-light {
            background-image: url('^assets/images/nitro/nitro-n-light.svg');
        }

        &.icon-nitro-dark {
            background-image: url('^assets/images/nitro/nitro-n-dark.svg');
        }

        &.icon-nitro-light,
        &.icon-nitro-dark {
            width: 100%;
            height: 40px;
        }

        &.icon-currency--1 {
            background-image: url('^assets/images/wallet/icons/-1.png');
            width: 15px;
            height: 15px;
        }

        &.icon-currency-0 {
            background-image: url('^assets/images/wallet/icons/0.png');
            width: 15px;
            height: 15px;
        }

        &.icon-currency-5 {
            background-image: url('^assets/images/wallet/icons/5.png');
            width: 15px;
            height: 15px;
        }

        &.icon-catalog {
            background-image: url('^assets/images/toolbar/icons/catalog.png');
            width: 37px;
            height: 36px;
        }

        &.icon-rooms {
            background-image: url('^assets/images/toolbar/icons/rooms.png');
            width: 44px;
            height: 30px;
        }

        &.icon-house {
            background-image: url('^assets/images/toolbar/icons/house.png');
            height: 30px;
            width: 32px;
        }

        &.icon-inventory {
            background-image: url('^assets/images/toolbar/icons/inventory.png');
            height: 41px;
            width: 44px;
        }

        &.icon-friendall {
            background-image: url('^assets/images/toolbar/icons/friend_all.png');
            height: 33px;
            width: 32px;
        }

        &.icon-friendsearch {
            background-image: url('^assets/images/toolbar/icons/friend_search.png');
            height: 33px;
            width: 29px;
        }

        &.icon-sendmessage {
            background-image: url('^assets/images/toolbar/icons/sendmessage.png');
            width: 20px;
            height: 21px;
        }

        &.icon-me-profile {
            background-image: url('^assets/images/toolbar/icons/me-menu/profile.png');
            width: 21px;
            height: 21px;
        }

        &.icon-me-rooms {
            background-image: url('^assets/images/toolbar/icons/me-menu/my-rooms.png');
            width: 30px;
            height: 30px;
        }

        &.icon-me-achievements {
            background-image: url('^assets/images/toolbar/icons/me-menu/achievements.png');
            width: 31px;
            height: 30px;
        }

        &.icon-me-clothing {
            background-image: url('^assets/images/toolbar/icons/me-menu/clothing.png');
            width: 27px;
            height: 30px;
        }
            
        &.icon-joinroom {
            background-image: url('^assets/images/toolbar/icons/joinroom.png');
            width: 21px;
            height: 21px;
        }

        &.icon-habbo {
            background-image: url('^assets/images/toolbar/icons/habbo.png');
            width: 28px;
            height: 28px;
        }

        &.icon-camera {
            background-image: url('^assets/images/toolbar/icons/camera.png');
            width: 38px;
            height: 45px;
        }

        &.icon-message {
            background-image: url('^assets/images/toolbar/icons/message.png');
            width: 36px;
            height: 32px;

            &.is-unseen {
                background-image: url('^assets/images/toolbar/icons/message_unsee.gif');
            }
        }

        &.icon-wired-trigger {
            background-image: url('^assets/images/wired/icon_trigger.png');
            width: 13px;
            height: 14px;
        }

        &.icon-wired-condition {
            background-image: url('^assets/images/wired/icon_condition.png');
            width: 13px;
            height: 14px;
        }

        &.icon-wired-action {
            background-image: url('^assets/images/wired/icon_action.png');
            width: 13px;
            height: 14px;
        }

        &.arrow-left-icon {
            background-image: url('^assets/images/avatareditor/arrow-left-icon.png');
            width: 28px;
            height: 21px;
        }

        &.arrow-right-icon {
            background-image: url('^assets/images/avatareditor/arrow-right-icon.png');
            width: 28px;
            height: 21px;
        }

        &.clear-icon {
            background-image: url('^assets/images/avatareditor/clear-icon.png');
            width: 16px;
            height: 16px;
        }

        &.ca-icon {
            background-image: url('^assets/images/avatareditor/ca-icon.png');
            width: 30px;
            height: 24px;

            &.selected {
                background-image: url('^assets/images/avatareditor/ca-selected-icon.png');
            }
        }

        &.cc-icon {
            background-image: url('^assets/images/avatareditor/cc-icon.png');
            width: 31px;
            height: 29px;

            &.selected {
                background-image: url('^assets/images/avatareditor/cc-selected-icon.png');
            }
        }

        &.ch-icon {
            background-image: url('^assets/images/avatareditor/ch-icon.png');
            width: 29px;
            height: 24px;

            &.selected {
                background-image: url('^assets/images/avatareditor/ch-selected-icon.png');
            }
        }

        &.cp-icon {
            background-image: url('^assets/images/avatareditor/cp-icon.png');
            width: 25px;
            height: 25px;

            &.selected {
                background-image: url('^assets/images/avatareditor/cp-selected-icon.png');
            }
        }

        &.ea-icon {
            background-image: url('^assets/images/avatareditor/ea-icon.png');
            width: 35px;
            height: 16px;

            &.selected {
                background-image: url('^assets/images/avatareditor/ea-selected-icon.png');
            }
        }

        &.fa-icon {
            background-image: url('^assets/images/avatareditor/fa-icon.png');
            width: 27px;
            height: 20px;

            &.selected {
                background-image: url('^assets/images/avatareditor/fa-selected-icon.png');
            }
        }

        &.female-icon {
            background-image: url('^assets/images/avatareditor/female-icon.png');
            width: 18px;
            height: 27px;

            &.selected {
                background-image: url('^assets/images/avatareditor/female-selected-icon.png');
            }
        }

        &.ha-icon {
            background-image: url('^assets/images/avatareditor/ha-icon.png');
            width: 25px;
            height: 22px;

            &.selected {
                background-image: url('^assets/images/avatareditor/ha-selected-icon.png');
            }
        }

        &.he-icon {
            background-image: url('^assets/images/avatareditor/he-icon.png');
            width: 31px;
            height: 27px;

            &.selected {
                background-image: url('^assets/images/avatareditor/he-selected-icon.png');
            }
        }

        &.hr-icon {
            background-image: url('^assets/images/avatareditor/hr-icon.png');
            width: 29px;
            height: 25px;

            &.selected {
                background-image: url('^assets/images/avatareditor/hr-selected-icon.png');
            }
        }

        &.lg-icon {
            background-image: url('^assets/images/avatareditor/lg-icon.png');
            width: 19px;
            height: 20px;

            &.selected {
                background-image: url('^assets/images/avatareditor/lg-selected-icon.png');
            }
        }

        &.loading-icon {
            background-image: url('^assets/images/avatareditor/loading-icon.png');
            width: 21px;
            height: 25px;
        }

        &.male-icon {
            background-image: url('^assets/images/avatareditor/male-icon.png');
            width: 21px;
            height: 21px;

            &.selected {
                background-image: url('^assets/images/avatareditor/male-selected-icon.png');
            }
        }

        &.sh-icon {
            background-image: url('^assets/images/avatareditor/sh-icon.png');
            width: 37px;
            height: 10px;

            &.selected {
                background-image: url('^assets/images/avatareditor/sh-selected-icon.png');
            }
        }

        &.wa-icon {
            background-image: url('^assets/images/avatareditor/wa-icon.png');
            width: 36px;
            height: 18px;

            &.selected {
                background-image: url('^assets/images/avatareditor/wa-selected-icon.png');
            }
        }

        &.chatstyles-icon {
            background-image: url('^assets/images/chat/styles-icon.png');
            width: 17px;
            height: 19px;
        }

        &.pencil-icon {
            background-image: url('^assets/images/infostand/pencil-icon.png');
            width: 17px;
            height: 18px;
        }

        &.trade-locked-icon {
            background-image: url('^assets/images/inventory/trading/locked-icon.png');
            width: 29px;
            height: 43px;
        }

        &.trade-unlocked-icon {
            background-image: url('^assets/images/inventory/trading/unlocked-icon.png');
            width: 29px;
            height: 43px;
        }

		&.modtool-room-icon {
			background-image: url('./images/modtool/room.png');
			width:20px;
			height:15px;
		}

		&.modtool-chatlog-icon {
			background-image: url('./images/modtool/chatlog.gif');
			width:20px;
			height:15px;
		}

		&.modtool-user-icon{
			background-image: url('./images/modtool/user.gif');
			width:20px;
			height:15px;
		}

		&.modtool-reports-icon {
			background-image: url('./images/modtool/reports.png');
			width:20px;
			height:15px;
		}

        &.modtool-wrench-icon {
            background-image: url('./images/modtool/wrench.gif');
            width:20px;
            height:15px;
        }

        &.modtool-key-icon {
            background-image: url('./images/modtool/key.gif');
            width:20px;
            height:15px;
        }

        &.spin {
            animation: rotating 1s linear infinite;
        }

        @keyframes rotating {
            from {
                transform: rotate(0);
            }

            to {
                transform: rotate(360deg);
            }
        }

        &.icon-catalogue-hc_small {
            height:17px;
            width:31px;
            background-image: url('^assets/images/catalog/hc_small.png');
        }
        &.icon-catalogue-hc_big {
            width:68px;
            height:40px;
            background: url('^assets/images/catalog/hc_big.png');
        }
    }
}
