.user {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
	position: relative;
	width: 50px;
	height: 100%;

	.user-avatar {
		background-position: center;
		background-repeat: no-repeat;
		image-rendering: pixelated;
		width: 50px;
		height: 62px;
		margin-top: 18px;
	}
}