<div [draggable] [center]="false" dragHandle=".card-header" class="card user-tool-card">
	<div class="card-header">
			<span>
			<i class="icon modtool-user-icon" style="margin-right: 5px;"></i>
			{{user.username}}
			</span>
		<button type="button" class="close" (click)="close()"><i class="fas fa-times"></i></button>
	</div>
	<div class="card-body">
        <table class="table table-striped table-sm">
            <tbody>
            <tr *ngFor="let item of userProperties">
                <th scope="row">{{ getTranslatedForKey(item.nameKey, item.nameKeyFallback)}}</th>
                <td>{{ item.value }}</td>
            </tr>

            </tbody>
        </table>
	</div>
</div>
