.nitro-hotelview-component {
    display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba($black, 1);
	
	.avatar-image {
		bottom: 12px;
		left: 63px;
		position: absolute;
		z-index: 1;
	}

	.background {
		height:100%;
		width:100%;
		background-position: left;
		background-repeat: repeat-y;
	}

	.drape {
		left:0px;
		top:0;
		animation-iteration-count: 1;
		animation-name: slideDown;
		animation-duration: 1s;
		z-index: 3;
	}

	.sun {
		top:0;
		left:0;
		right:0;
		margin: auto;
	}

	.left {
		bottom:0;
		left:0;
		animation-iteration-count: 1;
		animation-name: slideUp;
		animation-duration: 1s;
	}

	.right {
		right:0;
		bottom:0;
		animation-iteration-count: 1;
		animation-name: slideUp;
		animation-duration: 1s;
	}

	.rightRepeat {
		right:0;
		top:0;
		animation-iteration-count: 1;
		animation-name: slideRight;
		animation-duration: 1s;
	}
}

@keyframes slideDown {
    from {
        top: -100%;
    }
    to {
        top:0;
    }
}

@keyframes slideUp {
    from {
        bottom: -100%;
    }
    to {
        bottom:0;
    }
}

@keyframes slideRight {
    from {
        right: -100%;
    }
    to {
        right:0;
    }
}