.nitro-navigator {
    position: absolute;
    width: $navigator-width;
    max-width: $navigator-width;

    .search-result-item {
        cursor: pointer;
    }
    
    .grid-container {
    
        .grid-items {
    
            .item-detail {
                height: 40px;
                max-height: 40px;
            }
        }
    }
}

.nitro-navigator-room-info {
    position: absolute;
    width: 250px;
    max-width: 250px;
}

.nitro-navigator-roomsettings-component {
    position: absolute;
    width: $navigator-roomsettings-width;
    max-width: $navigator-roomsettings-width;
}

@import './components/slider/index.scss';
