.nitro-navigator-component {
    position: absolute;
    width: $navigator-width;
    max-width: $navigator-width;
    height: $navigator-height;
    max-height: $navigator-height;
}

.search-result-item {
    cursor: pointer;
}