.nitro-navigator-component {
    position: absolute;
    width: $navigator-width;
    max-width: $navigator-width;
    height: $navigator-height;
    max-height: $navigator-height;
    left: calc(50vw - #{($navigator-width / 2)});
    top: calc(50vh - #{($navigator-height / 2)});
}

@import './search';