<div class="row mt-3">
    <div class="d-flex flex-column col-6">
        <div class="badge badge-secondary w-100 p-1 mb-1">{{ ('inventory.trading.you') | translate }}</div>
        <div class="d-flex mb-1">
            <div class="grid-container position-relative">
                <div class="grid-items grid-3">
                    <div class="d-flex flex-column item-detail justify-content-center align-items-center" *ngFor="let num of indexs; let i = index;" (click)="removeItem(i)">
                        <button *ngIf="ownUserItems[i]" type="button" class="position-relative btn btn-secondary align-items-end detail-info" [ngClass]="{ 'unique': ownUserItems[i].stuffData.uniqueNumber }">
                            <div class="position-absolute detail-info has-image" [ngStyle]="{ 'background-image': 'url(' + getIconUrl(ownUserItems[i]) + ')' }"></div>
                            <div *ngIf="!ownUserItems[i].stuffData.uniqueNumber" class="position-absolute btn btn-sm btn-primary px-1 py-0 rounded count">{{ ownUserItems[i].getUnlockedCount() }}</div>
                            <div *ngIf="ownUserItems[i].stuffData.uniqueNumber" class="position-absolute unique-counter" [innerHtml]="ownUserItems[i].stuffData.uniqueNumber | uniqueNumber"></div>
                        </button>
                        <button *ngIf="!ownUserItems[i]" type="button" class="position-relative btn btn-secondary align-items-end detail-info has-image"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <i class="icon w-100" [ngClass]="{ 'trade-unlocked-icon': !ownUserAccepts, 'trade-locked-icon': ownUserAccepts }"></i>
            <div class="d-flex justify-content-center align-items-center badge badge-secondary w-100 p-1 m-1">{{ ownUserNumItems }} items</div>
            <div class="d-flex justify-content-center align-items-center badge badge-secondary w-100 p-1 m-1">{{ ownUserNumCredits }} credits</div>
        </div>
    </div>
    <div class="d-flex flex-column col-6">
        <div class="badge badge-secondary w-100 p-1 mb-1">{{ otherUserName }}</div>
        <div class="d-flex mb-1">
            <div class="grid-container position-relative">
                <div class="grid-items grid-3">
                    <div class="d-flex flex-column item-detail justify-content-center align-items-center" *ngFor="let num of indexs; let i = index;" (click)="removeItem(i)">
                        <button *ngIf="ownUserItems[i]" type="button" class="position-relative btn btn-secondary align-items-end detail-info" [ngClass]="{ 'unique': otherUserItems[i].stuffData.uniqueNumber }">
                            <div class="position-absolute detail-info has-image" [ngStyle]="{ 'background-image': 'url(' + getIconUrl(otherUserItems[i]) + ')' }"></div>
                            <div *ngIf="!otherUserItems[i].stuffData.uniqueNumber" class="position-absolute btn btn-sm btn-primary px-1 py-0 rounded count">{{ otherUserItems[i].getUnlockedCount() }}</div>
                            <div *ngIf="ownUserItems[i].stuffData.uniqueNumber" class="position-absolute unique-counter" [innerHtml]="otherUserItems[i].stuffData.uniqueNumber | uniqueNumber"></div>
                        </button>
                        <button *ngIf="!otherUserItems[i]" type="button" class="position-relative btn btn-secondary align-items-end detail-info has-image"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <i class="icon w-100" [ngClass]="{ 'trade-unlocked-icon': !otherUserAccepts, 'trade-locked-icon': otherUserAccepts }"></i>
            <div class="d-flex justify-content-center align-items-center badge badge-secondary w-100 p-1 m-1">{{ otherUserNumItems }} items</div>
            <div class="d-flex justify-content-center align-items-center badge badge-secondary w-100 p-1 m-1">{{ otherUserNumCredits }} credits</div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="d-flex col-12 justify-content-between">
        <ng-container [ngSwitch]="state">
            <button *ngSwitchCase=0 type="button" class="btn btn-secondary" [disabled]="(!ownUserNumItems && !otherUserNumItems)" (click)="progressTrade()">{{ 'inventory.trading.accept' | translate }}</button>
            <button *ngSwitchCase=1 type="button" class="btn btn-secondary" [disabled]="(!ownUserNumItems && !otherUserNumItems)" (click)="progressTrade()">{{ (ownUserAccepts ? 'inventory.trading.modify' : 'inventory.trading.accept') | translate }}</button>
            <button *ngSwitchCase=2 type="button" class="btn btn-secondary" disabled>{{ 'inventory.trading.countdown' | translate:'counter':timerTick }}</button>
            <button *ngSwitchCase=3 type="button" class="btn btn-secondary" (click)="progressTrade()">{{ 'inventory.trading.confirm' | translate }}</button>
            <button *ngSwitchCase=4 type="button" class="btn btn-secondary" disabled>{{ 'inventory.trading.info.waiting' | translate }}</button>
            <button *ngSwitchCase=5 type="button" class="btn btn-secondary" disabled>{{ 'inventory.trading.accept' | translate }}</button>
        </ng-container>
        <button type="button" class="btn btn-danger" (click)="cancelTrade()">{{ 'generic.cancel' | translate }}</button>
    </div>
</div>
