<div  *ngIf="visible" [bringToTop] [draggable] dragHandle=".card-header" class="card nitro-chooser-component">
    <div class="card-header">
        {{ (title) | translate }}
        <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <perfect-scrollbar style="max-height: 200px">
                <ul class="list-group">
                    <li  class="chooser__item" *ngFor="let row of _items" (click)="onSelectItem(row)">
                        {{row.name}}
                    </li>
                </ul>
            </perfect-scrollbar>
        </div>
    </div>
</div>
