<div class="d-flex flex-column align-items-end">
    <div class="nitro-infostand card" style="min-width: 300px">
        <div class="d-flex justify-content-between align-items-center px-3 pt-3">
            <h6 class="m-0">{{ petData.name }}<span class="badge badge-secondary badge-sm ml-2">{{ breed }}</span></h6>
            <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
        </div>
        <div class="p-3">
            <div class="d-flex flex-row">
                <div class="w-100 mr-2">
                    <div class="w-100 mb-2">
                        <div class="pet-image" style="height: 85px" pet-image [petFigureData]="petData.petFigureData" [direction]="2"
                             [asBackground]="true"></div>
                    </div>
                    <div class="badge badge-secondary badge-sm w-100 text-wrap d-flex mb-2">
                        <div class="align-self-center w-100">
                            {{ level }}
                        </div>
                    </div>
                    <div class="badge badge-secondary badge-sm w-100 text-wrap d-flex mb-2">
                        <div class="align-self-center w-100">
                            {{ age }}
                        </div>
                    </div>
                    <div class="badge badge-secondary badge-sm w-100 text-wrap d-flex">
                        <div class="align-self-center w-100">
                            {{ owner }}
                        </div>
                    </div>
                </div>
                <div class="w-100">
                    <div class="mb-1">
                        <div class="small mb-1">{{ 'infostand.pet.text.happiness' | translate }}</div>
                        <div class="w-100">
                            <div class="bg-secondary rounded position-relative d-flex overflow-hidden">
                                <div class="text-center small position-absolute w-100 align-self-center">
                                    {{ currentHappiness }} / {{ totalHappiness }}
                                </div>
                                <div class="bg-info rounded" [ngStyle]="{'width': happinessPercentage + '%', 'height': '24px'}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="small mb-1">{{ 'infostand.pet.text.experience' | translate }}</div>
                        <div class="w-100">
                            <div class="bg-secondary rounded position-relative d-flex overflow-hidden">
                                <div class="text-center small position-absolute w-100 align-self-center">
                                    {{ currentExperience }} / {{ totalExperience }}
                                </div>
                                <div class="rounded" [ngStyle]="{'width': experiencePercentage + '%', 'height': '24px', 'background': 'var(--purple)'}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="small mb-1">{{ 'infostand.pet.text.energy' | translate }}</div>
                        <div class="w-100">
                            <div class="bg-secondary rounded position-relative d-flex overflow-hidden">
                                <div class="text-center small position-absolute w-100 align-self-center">
                                    {{ currentEnergy }} / {{ totalEnergy }}
                                </div>
                                <div class="bg-success rounded" [ngStyle]="{'width': energyPercentage + '%', 'height': '24px'}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="badge badge-secondary badge-sm w-100 text-wrap d-flex">
                        <div class="align-self-center w-100">
                            {{ scratchedCount }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container btn-group mt-2">
        <button type="button" class="btn btn-primary"
                (click)="processButtonAction('buyfood')">{{ 'infostand.button.buyfood' | translate }}</button>
        <button *ngIf="this.userData.petRespectLeft > 0" type="button" class="btn btn-primary"
                (click)="processButtonAction('respect')">{{ 'infostand.button.petrespect' | translate:'count':this.userData.petRespectLeft.toString() }}</button>
        <button *ngIf="petData._Str_5175" class="btn btn-primary"
                (click)="processButtonAction('pickup')">{{ 'infostand.button.pickup' | translate }}</button>

    </div>
</div>
