.context-menu {
    position: absolute;
    z-index: $context-menu-zindex;
    font-size: $font-size-sm;
    width:100px;

    &.has-hidden {
        width:unset;
    }

    .context-content {
        transition: all 1s ease-in-out linear;
    }
    
    &.card {
        .drag-handler {
            background:$card-bg;
            box-shadow: $box-shadow-inset;
            border-radius: $card-inner-border-radius $card-inner-border-radius 0 0;
            border-bottom: $card-border-width solid $card-border-color;
        }

        .list-group {
            background:$secondary;
                
            .list-group-item {
                padding: 3px 10px;
                font-weight: 300;
                font-size: 12px;
                text-align: center;
                width: 100%;
                z-index: 1;
                background: linear-gradient(180deg, rgba($cod-gray,.8) 0%, rgba($cod-gray,.8) 50%, $cod-gray 50%, $cod-gray 100%);
                margin-bottom:2px;

                &:hover {
                    background: rgba($secondary, 1);
                    cursor: pointer;
                }
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -5.5px;
            left: 0;
            right: 0;
            margin: auto;
            height: 10px;
            width: 10px;
            background: $card-bg;
            transform: rotate(45deg);
            border-right: $card-border-width solid $card-border-color;
            border-bottom: $card-border-width solid $card-border-color;
            box-shadow: 2px 2px 0px rgb($black, .45), inset -2px -2px 0px rgb($white, .1);
        }
    }

    .visibility-toggle {
        cursor: pointer;
    }
}
