.nitro-room-chatinput-component {
    position: fixed;
    display: flex;
    bottom: 10px;
    left:70px;
    pointer-events: none;

    .chatinput-container {
        position: relative;
        height: 45px;
        border-radius: 10px;
        border: 1px solid rgb(0, 0, 0);
        background: #EDEDED;
        pointer-events: all;
        padding-right:30px;
        width:100%;

        .chat-input {
            min-width: 100px;
            max-width: 300px;
            height: 100%;
            font-size: 18px;
            padding: 0 10px;
            outline: 0;
            border: 0;
            position: relative;
            background: transparent;
        }

        &:after {
            content: "";
            position: absolute;
            top:0;
            bottom:0;
            margin: auto;
            left:-8.5px;
            height: 15px;
            width: 15px;
            background: #EDEDED;
            transform: rotate(45deg);
            border-left: 1px solid #000;
            border-bottom: 1px solid #000;
        }

        &:before {
            content: "";
            position: absolute;
            width: 98%;
            height: 5px;
            border-radius: 5px;
            top: 3px;
            left: 0;
            right: 0;
            margin: auto;
            background: rgb(255, 255, 255);
            z-index: 1;
        }
    }
}

@import './styleselector';